<header>
    <script src="https://kit.fontawesome.com/137761fda3.js" crossorigin="anonymous"></script>
    
    <nav>
        <ul class="ul__menu">
            <a href="/"><li><i class="fa-solid fa-house"></i> Index</li></a>
            <a href="/criar"><li><i class="fa-solid fa-circle-plus"></i> Criar</li></a>
        </ul>
    </nav>
</header>