<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="form_container">
            <form method="post" action="">
                <legend>Criar Filme</legend>
                <fieldset class="fieldset__data">
                    <input type="text" name="nome" required>
                    <label for="nome">Nome do Filme</label>
                </fieldset>

                <fieldset class="fieldset__data">
                    <input type="text" name="diretor" required>
                    <label for="diretor">Nome do Diretor</label>
                </fieldset>

                <fieldset class="fieldset__data">
                    <input type="url" name="img" required>
                    <label for="img">Imagem</label>
                </fieldset>

                <fieldset class="fieldset__data">
                    <input type="number" name="duracao" required>
                    <label for="duracao">Duração</label>
                </fieldset>

                <fieldset class="fieldset__data">
                    <input type="text" name="ano" required>
                    <label for="ano">Ano de lançamento</label>
                </fieldset>

                <fieldset class="fieldset__data">
                    <input type="text" name="iframe" required>
                    <label for="iframe">Iframe</label>
                </fieldset>

                <button id="btn__submit" type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <% if (toggle) { %>
        <script>
            Swal.fire({
            icon: 'success',
            title: 'Sucesso!!!',
            text: 'Seu filme foi cadastrado!',
            timer: 5000
              })
              setInterval(() => {window.location.href = "/"}, 5000)
            </script>
    <% } %>
</body>
</html>